nav {
  background-color: gray;
}

.jumbotron {
  padding: 5rem 2rem 2rem 2rem;
  background-color: lightgray;
}

footer {
  background-color: gray;
}

#projects {
  background-color: lightgray;
}

.bi-hearts {
  color: red;
}

section {
  padding-top: 5rem;
}

/* Character Section */
.character-box {
  background-color: royalblue;
  border-radius: 10px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
}

/* .character-box::before {
  position: absolute;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  top: 10px;
  opacity: 0;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, 0);
}

.character-box:hover::before {
  opacity: 0.2;
  font-size: 4em;
  top: 0;
  color: black;
}

.character-box::after {
  content: "NARUTO";
  position: absolute;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  top: 10px;
  opacity: 0;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, 0);
}

.character-box:hover::after {
  opacity: 0.2;
  font-size: 4em;
  top: 300px;
  color: white;
} */

.character-name {
  text-align: center;
  color: white;
  font-size: 2em;
  opacity: 0.8;
  transition: 0.5s;
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.character-box:hover .character-name {
  bottom: 80%;
  opacity: 0.5;
  transform: translate(0, -50%);
}

.character-profile-btn {
  position: absolute;
  bottom: 0;
  left: 30%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.character-box:hover .character-profile-btn {
  bottom: 10px;
  opacity: 1;
}

.character-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 100px);
  max-width: 250px;
  transition: 0.5s;
}

.character-box:hover .character-img {
  transform: translate3d(-50%, -50%, 100px) scale(1.2);
}
